{% load staticfiles %}
{% load static %}

<!-- templates/partials/header.html -->
<nav>
    <div class="container-fluid navbar-fixed-top navbar-color">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar nav-iconbar-color"></span>
                    <span class="icon-bar nav-iconbar-color"></span>
                    <span class="icon-bar nav-iconbar-color"></span>
            </button>
            <a class="navbar-brand" href="#"style="font-size:200%;"><img src="{% static 'img/github-logo.png' %}" class="logo"/>Git Friends</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" style="font-size:130%;">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/update-status/">Status</a></li>
                <li><a href="/profil/">Profil</a></li>
                <li><a href="/friends/">Friends</a></li>
                <li><a href="/stats/">Dashboard</a></li>
            </ul>
        </div>
    </div>
</nav>

