{% load staticfiles %}
{% load static %}
<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        
        <!-- bootstrap csss -->
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'css/light_theme.css' %}" id='theme' />  
        <link rel="stylesheet" type="text/css" href="{% static 'css/fitur_profil.css' %}" />  
        <link rel="stylesheet" type="text/css" href="{% static 'css/update.css' %}" />

        <title>{% block title %} {{ title }} {% endblock %}</title>
    </head>
    <body>
        <header>
            {% block header %}
            {% include "partials/header.html" %}
            {% endblock %}
        </header>
        <content>
            <div class="content">
            {% block content %}
            <!--content goes here-->
            {% endblock %}
            </div>
        </content>
        <footer>
            <div class="footer">
            {% block footer %}
            {% include "partials/footer.html" %}
            {% endblock %}
            </div>
        </footer>
        <!-- Jquery n Bootstrap Script -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script type="application/javascript">
        $(function() {
            $('a[href*="#"]:not([href="#"])').click(function() {
                if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
                if (target.length) {
                    $('html, body').animate({
                    scrollTop: target.offset().top - 55
                    }, 1000);
                    return false;
                }
                }
            });
            });
        if(localStorage.getItem('theme-selector')==null){
            localStorage.setItem('theme-selector','light')
        }else{
            if(localStorage.getItem('theme-selector')=='dark'){
                document.getElementById('theme').href ="{% static 'css/dark_theme.css' %}";
            }else{
                document.getElementById('theme').href ="{% static 'css/light_theme.css' %}";
            }
        }
        </script>
    </body>
</html>