{% extends "base.html" %}
{% load staticfiles %}
{% load static %}

{% block content %}

<div class="stats-outer">
    <div style="margin: 20px">
        <h3>Statistic</h3>
        <div class="stats">
            <img src="{% static 'img/person.jpg' %}" class="profile"/>
            <h1>{{ username }}</h1>
            <div>
                <div class="statistic-left">
                    <h3>Friends : {{ friends }} people</h3>
                </div>
                <div class="statistic-right">
                    <h3>Posts : {{ posts }} posts</h3>
                </div>
            </div>
            <div class="latest-post">
                    <h3>Latest Post</h3>
                    <h4>{{ latest_post }}</h4>
                    <h4>{{ latest_date }}</h4>
            </div>
        </div>    
    </div>
    <div class="theme-section">
        <h3>Change Theme</h3>
        <button id='theme-light-button' class="button-theme">Light Theme</button>
        <button id='theme-dark-button' class="button-theme">Dark Theme</button>
    </div>
</div>

<script>
        document.getElementById('theme-light-button').onclick = function () { 
            document.getElementById('theme').href ="{% static 'css/light_theme.css' %}";
            localStorage.setItem('theme-selector','light')
        };
        document.getElementById('theme-dark-button').onclick = function () { 
            document.getElementById('theme').href ="{% static 'css/dark_theme.css' %}";
            localStorage.setItem('theme-selector','dark')
        };
</script>
{% endblock %}