{% extends "base.html" %}

{% block content %}


<h1 class = "main1"> Friends </h1>
{{pesan}}
<table width="150%">
<form method = "POST" action = "{% url 'friends:index' %}">

	{% csrf_token %}
	<tr>
		<td>Nama </td>
		<td><input style = "color:black;" type="text" value="" name="nama" placeholder="Masukkan nama" required="true" size="140"><br></td>
	</tr>
	<tr>
	<td>Url
	</td>
	<td><input style = "color:black;" type="text" value="" name="url" placeholder="Masukkan url" required="true" size="140">
	</td>
	
	</tr>

<input id = "button" style = "color:black;" type="submit" value="add friend" 
 style="position: relative;right: ">
</form>
</table>
<h1>List friends</h1>
<table border="" width="100%">
	{% if friends %}
		{% for friend in friends %}
			<tr>
				<td>
					{{friend.name}}
				</td>
				<td>
					<a href="{{friend.url}}">
					{{friend.url}}
					</a>
				</td>
				<td>
					{{friend.created_date}}
				</td>
			</tr>
		{% endfor %}
	{% else %}
		<h3>tidak ada teman</h3>	
	{% endif %}		

</table>

{% endblock %} 
