.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
  background: tomato;
  padding: 5px;
  width: 500px;
  height: auto;
  margin-top: 10px;
  word-wrap: auto;
  
  background-color: blue;

  line-height: auto;
  color: white;
  font-weight: bold;
  font-size: 12;
  text-align: center;
}

.photo-in-feed {
  width: 100px;
  height: 100px;
}

.name-in-feed {
  text-align: center;
  font-size: 20px;
  font-family: "comic sans"
}

.status-in-feed {
  font-family: monospace;
  text-align: left;

  background-color: white;
  color: blue;
  word-wrap: break-word;

  margin: 2px;
}

@media only screen and (max-width: 768px) {

  .flex-item{
    flex-basis: 100%;
    width: auto;
  }
}