{% extends "base.html" %}
{% block content %}
{% load static %}
<h1 style="text-align: center;">Profil</h1>
<center>
<img id="profile" src="{% static "orang/person.jpg" %}"/>
</center>
<h1 style="text-align: center;font-family:verdana;">{{name}}</h1>
<table align="center" >
    {% for bio in bio_dict %}
        <tr>
            <td class="isi" style="font-family:verdana;font-size:110%;">{{bio.subject}}</td>
			{% if bio.subject == 'Expertise'%}
			<td class="value" style="font-family:verdana;font-size:110%;">
			{% for str in bio.value %}
			<span id="expertise" style="font-family:verdana;font-size:110%;">{{str}}</span>
			{% endfor %}
			</td>
			{% else %} <td class="value" style="font-family:verdana;font-size:110%;">{{ bio.value }}</td>
			{% endif %}
        </tr>
    {% endfor %}
</table>
<br>
{% endblock %}
