img#profile{
	width:250px;
	height:250px;
	border-style:solid;
	border-width:1px;
	border-radius:50%;
}
tr td{
	padding: 8px;
}

span#expertise{
	border:1px;
	border-style:solid;
	border-radius : 100px;
	padding: 12px ;
}

@media only screen and (max-width: 360px) {
    span#expertise{
        float : none;
		text-align: center;4
		padding-top : 10px;
    }
    

  }
@media only screen and (max-width: 480px) {
    h1 {
        font-size: 28px;
    }
    h3 {
        font-size: 18px;
    }
    h4 {
        font-size: 14px;
    }
  }  