img#profile{
	width:250px;
	height:250px;
	border-style:solid;
	border-width:1px;
	border-radius:50%;
}
tr td{
	padding: 8px;
}

span#expertise{
	border:1px;
	border-style:solid;
	border-radius : 100px;
	padding: 12px ;
}
