body{
    padding-top : 70px;
    background-color: #FFF;
    color : #000;
}
.content{
    padding-right : 10px;
    padding-left : 10px;
    min-height: 85vh;
}
.footer{
    position: relative;
    bottom : 0;
    padding : 10px;
    text-align: center;
}
.profile{
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
  
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
div .stats-outer{
    border: 2px solid #333; 
    border-radius: 5px; 
    min-height:83vh;
    padding-top : 10px;
    padding-bottom : 20px;
}
div .stats{
    width: 60%; 
    margin: 0 auto; 
    text-align: center;
}

div .statistic{
    text-align: left;
}

div .statistic-left{
    float : left;
}

div .statistic-right{
    float : right;
}

div .latest-post{
    padding-top: 50px;
    text-align: left;
    width: 100%;
}

.navbar-header{
    background-color: #FFF;
}

.navbar-collapse{
    background-color: #FFF;
}

.nav-iconbar-color{
    background: #000;
}

.theme-section{
    text-align: center;
}

@media only screen and (max-width: 768px) {
    div .statistic-left{
        float : none;
        text-align: center;
    }
    
    div .statistic-right{
        float : none;
        text-align: center;
    }

    div .latest-post{
        text-align: center;
        padding-top : 10px;
    }
  }
@media only screen and (max-width: 480px) {
    h1 {
        font-size: 28px;
    }
    h3 {
        font-size: 18px;
    }
    h4 {
        font-size: 14px;
    }
  }  

input{
	color:black;
}