body{
    background-color: #333;
    color : #FFF;
}
.content{
    padding-right : 10px;
    padding-left : 10px;
    min-height: 85vh;
}
.footer{
    position: relative;
    bottom : 0;
    padding : 10px;
    text-align: center;
}

input{
	color:black;


}