.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
  background: tomato;
  padding: 5px;
  width: 500px;
  height: auto;
  margin-top: 10px;
  word-wrap: auto;
  
  line-height: auto;
  color: white;
  font-weight: bold;
  font-size: 12;
  text-align: center;
}

.photo-in-feed {
  text-align: left;
  width: 200px;
  height: 100px;
}