{% extends "base.html" %}

{% block content %}

<hr/>
<section>
    <div style="text-align: center;">
        <img src="http://gitfriend.herokuapp.com/static/img/person.jpg" class="photo-in-feed img-circle"></img>
        <br>
        <div class="name-in-feed">Hepzibah Smith</div>
        <form method="POST" action="{% url 'update-status:add_status' %}">
            {% csrf_token %}
            <br>
            <textarea rows="3" cols="40" class="form-control" name="status" placeholder="What's on your mind?"></textarea>
            <br>
            <input type="submit" value="Post" class="btn btn-info">
            <br>
        </form>
    </div>
</section>

<br>
<br>

<section>
    <div class="flex-container">
        <div>
            {% if status %}
                {% for data in status %}
                    <div class="flex-item">
                        <div>
                            <div style="text-align: center;">
                                <img src="http://gitfriend.herokuapp.com/static/img/person.jpg" class="photo-in-feed img-circle">
                                </img>
                            </div>
                            Hepzibah Smith
                            <div style="text-align: center;">
                                {{data.created_date}}
                            </div>
                            <div class="status-in-feed">
                                {{data.content|linebreaksbr}}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
            <div>
                <strong>Oops!</strong> Tidak ada data Status.
            </div>
            {% endif %}
        </div>
    </div>
</section>

{% endblock %}
